@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* font-family: 'Poppins', sans-serif; */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #ff6a28;
  --secondary: #171412;
  --font-family: "Poppins", sans-serif;
}

/* scroll bar styling */
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-thumb {
  background-color: #ff6928b6;
  outline: 1px solid #ff692848;
  border-radius: 20px;
}
html {
  scroll-behavior: smooth;
  position: relative;
}
body {
  font-family: var(--font-family);
  background-color: #f9f9f8;
  margin-bottom: 300px;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: rgb(70, 68, 67);
}

/* buffer loading */
.buffer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  display: grid;
  place-items: center;
  z-index: 999;
  width: 100vw;
  height: 100vh;
}
.buffer-loading {
  width: 3rem;
  height: 3rem;
  border: 3.5px solid #dee7f0;
  border-radius: 50%;
  border-top-color: var(--primary);
  animation: spinner 0.6s linear infinite;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/* nav bar */
.navbar {
  padding-top: 20px;
}

.navbar,
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-left: auto;
  margin-right: auto;
}
.logo h1 {
  font-weight: bold;
  font-size: 2rem;
  color: var(--secondary);
}
.asidebar {
  margin-left: auto;
  margin-right: auto;
}
.nav-links li {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 40px;
  color: rgb(70, 68, 67);
  cursor: pointer;
}
.nav-links li:hover {
  transform: scale(1.05);
  transition: all 0.1s linear;
}
.nav-links li:hover {
  color: var(--primary);
}
.toggle-icon,
.close-icon {
  display: none;
  font-size: 1rem;
  cursor: pointer;
  color: rgb(70, 68, 67);
  background: transparent;
  border: none;
}

@media screen and (max-width: 768px) {
  .logo {
    margin: initial;
    margin-left: 20px;
  }
  .toggle-icon {
    display: block;
    margin-right: 10px;
  }

  .close-icon {
    display: block;
    font-size: 1rem;
    position: absolute;
    right: 10px;
  }
  .asidebar {
    background: #f2f3f2;
    padding-top: 30px;
    position: fixed;
    top: 0;
    margin: 0;
    right: -300px;
    z-index: 1;
    transition: all 0.5s linear;
    overflow: hidden;
    width: 200px;
    height: 100vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0.4, 0.2);
  }
  .nav-links {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
  }
  .nav-links li {
    margin-left: 0;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 425px) {
  .logo h1 {
    font-size: 1.5rem;
  }
}

/* banner section */

.banner-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px;
}
.group-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* background image */
.bg-image,
.side-image {
  width: 100%;
}
.bg-image img,
.side-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
.side-image {
  display: none;
}
/* intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  width: 100%;
  margin-left: 50px;
}
.intro-content {
  display: flex;
  flex-direction: column;
}
.name-content-one {
  font-size: 3vmax;
  font-weight: bold;
  color: #4682a9;
}
.name-content-one span {
  font-size: 3vmax;
  color: grey;
}

.name-content-two {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  color: var(--primary);
  font-weight: 500;
  letter-spacing: 0.02rem;
  margin-bottom: 20px;
}
/* social icons */
.social-icons-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.social-icons-list li a {
  display: block;
  padding: 5px;
  background-color: #f2f3f2;
  margin-right: 14px;
  border-radius: 6px;
}
.social-icon {
  color: #e5e6e4;
  font-size: 1.5rem;
  color: rgba(0, 0, 0.2, 0.3);
}
.social-icons-list li a:hover .social-icon {
  color: var(--primary);
}
/* email contact */
.email-contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 30px;
}
.email-content-one {
  color: grey;
  font-size: 1rem;
  font-weight: bold;
}
.email-content-two a {
  color: var(--primary);
  font-size: 1rem;
}

@media screen and (max-width: 907px) {
  .intro {
    height: auto;
    margin-left: 10px;
  }
  .name-content-two {
    font-size: 0.85rem;
  }
}
@media screen and (max-width: 659px) {
  .banner-container {
    justify-content: center;
    align-items: center;
    margin: 50px 80px;
  }
  .bg-image {
    display: none;
  }
  .side-image {
    display: block;
  }
  .social-icons-list {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }
  .social-icons-list li a {
    margin-top: 10px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 493px) {
  .banner-container {
    margin: 50px 30px;
  }
}
@media screen and (max-width: 429px) {
  .side-image img {
    width: 300px;
  }
  .email-content-one {
    font-size: 0.87rem;
  }
  .email-content-two a {
    font-size: 0.87rem;
  }
}
@media screen and (max-width: 385px) {
  .banner-container {
    margin: 50px 10px;
  }
  .side-image img {
    width: 250px;
  }
}
@media screen and (max-width: 313px) {
  .side-image img {
    width: 200px;
  }
}

/* about section */
.about-section {
  padding: 50px;
  margin-top: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/about-bg.jpg") center/cover no-repeat;
}

.about-me h1 {
  color: var(--primary);
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.about-me h1 span {
  display: inline-block;
  width: 50px;
  height: 2px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: var(--primary);
  margin-right: 20px;
}
.about-content-one {
  font-size: 3rem;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 3px;
}
.about-content-two {
  color: white;
  font-size: 1rem;
  margin-bottom: 20px;
}
.about-section-btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* about section contact buttons */
.contact-btn,
.download-btn {
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  margin-right: 20px;
  color: white;
  cursor: pointer;
}

.contact-btn {
  background-color: transparent;
  border: white 1px solid;
}
.download-btn {
  background-color: var(--primary);
  border: none;
}
.download-icon {
  margin-left: 5px;
}
.contact-btn:active,
.download-btn:active {
  transform: translateY(5px);
  transition: all 0.3s linear;
}
@media screen and (max-width: 768px) {
  .about-content-one {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 614px) {
  .about-content-one {
    font-size: 2rem;
  }
  .about-content-two {
    font-size: 0.85rem;
    line-height: 25px;
  }
  .about-section {
    padding: 30px;
  }
}
@media screen and (max-width: 425px) {
  .about-content-one {
    font-size: 1.5rem;
  }
  .about-section-btns {
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
  .contact-btn,
  .download-btn {
    margin-bottom: 20px;
    width: 300px;
  }
}
@media screen and (max-width: 359px) {
  .about-section {
    padding: 15px;
  }
  .contact-btn,
  .download-btn {
    width: 250px;
  }
}

/* skills section */
.skills-section {
  margin-top: 30px;
}
.skills-section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills-section-header h1 {
  font-size: 2rem;
  color: var(--primary);
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.skills-section-header p {
  font-size: 4rem;
  color: var(--secondary);
  font-weight: 700;
}
.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  overflow: hidden;
}
.skill-item {
  padding: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.skill-item p {
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
}
.one,
.three {
  background-color: var(--secondary);
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  width: 100%;
  margin-left: 50px;
}
.two {
  flex-direction: row-reverse;
  background-color: var(--primary);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  width: 100%;
  margin-right: 50px;
}

/* skillset */
.skillset {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

.skillset-icon {
  margin-right: 5px;
}
.skillset-one {
  font-size: 1.5rem;
  margin-right: 20px;
}

.skillset-one img {
  width: 1.5rem;
}

@media screen and (max-width: 768px) {
  .skills-section-header h1 {
    font-size: 1.5rem;
  }
  .skills-section-header p {
    font-size: 3rem;
  }
  .skill-item {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
  .skillset {
    justify-content: flex-start;
  }
  .two {
    align-items: flex-end;
  }
  .two .skillset {
    justify-content: flex-end;
  }
  .skill-item p {
    font-size: 2.5rem;
  }
  .skillset-one {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 647px) {
  .skill-item p {
    font-size: 2rem;
  }
  .skillset-one {
    font-size: 1rem;
  }
  .skillset-one img {
    width: 1rem;
  }
}
@media screen and (max-width: 425px) {
  .skills-section-header h1 {
    font-size: 1.3rem;
  }
  .skills-section-header p {
    font-size: 2.5rem;
  }
  .skill-item p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 395px) {
  .skills-section-header h1 {
    font-size: 1.2rem;
  }
  .skills-section-header p {
    font-size: 2rem;
  }
  .skill-item p {
    font-size: 1rem;
  }
  .skill-item {
    padding: 12px;
  }
  .skillset-one {
    font-size: 0.84rem;
  }
  .skillset-one img {
    width: 0.84rem;
  }
}

/* projects section */

.projects-section {
  margin: 50px;
}
.projects-section h1 {
  font-size: 3rem;
}
.all-projects-link {
  font-size: 1rem;
  margin-top: 10px;
  margin-right: inherit;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.all-projects-link a:hover {
  color: var(--primary);
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  row-gap: 30px;
  margin-top: 60px;
  position: relative;
}
.projects-loading-buffer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.single-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #f2f3f2;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0.2, 0.2);
}
.project-img {
  width: 400px;
  border-radius: 15px;
}

.project-img img {
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
  filter: brightness(80%);
}
.project-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}
.project-name {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}
.category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.category-name {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 6px 8px;
  border-radius: 10px;
  color: grey;
  letter-spacing: 0.5px;
  margin-right: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.single-project:hover {
  transform: scale(1.02);
  transition: all 0.3s linear;
}
.single-project:hover .project-img img {
  filter: brightness(90%);
  transition: all 0.3s linear;
}

@media screen and (max-width: 1003px) {
  .project-img {
    width: 350px;
  }
  .project-name {
    font-size: 1.4rem;
  }
  .category-name {
    font-size: 1rem;
  }
}
@media screen and (max-width: 889px) {
  .project-img {
    width: 300px;
  }
  .projects-section h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 793px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
  .project-img {
    width: 400px;
  }
  .projects-section {
    margin: 30px;
  }
  .all-projects-link {
    font-size: 0.95rem;
  }
}
@media screen and (max-width: 479px) {
  .project-img {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .project-name {
    font-size: 1.2rem;
  }
  .projects-section h1 {
    font-size: 1.5rem;
  }
  .all-projects-link {
    font-size: 0.85rem;
  }
}
@media screen and (max-width: 375px) {
  .projects-section {
    margin: 15px;
  }
  .project-name {
    font-size: 1rem;
  }
  .category-name {
    font-size: 0.87rem;
  }
  .projects-section h1 {
    font-size: 1.3rem;
  }
}

/* footer-section */

.footer-section {
  margin-top: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 0.7px solid #e5e6e4;
}
.footer-content h1 {
  font-size: 1.3rem;
  letter-spacing: 0.8px;
  margin-bottom: 30px;
  color: #8f8f8f;
}
/* footer social media icons */
.footer-social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.footer-social-icons li a {
  font-size: 2rem;
  margin-right: 10px;
}
.footer-social-icons li a i {
  padding: 10px;
  border-radius: 100%;
}
.footer-credits p {
  font-size: 1rem;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 5px;
}
/* social icons color */
.fa-youtube.footer-social-icon {
  color: #e52d27;
  background-color: #e52d2727;
}
.fa-linkedin.footer-social-icon {
  color: #0976b4;
  background-color: #0975b42d;
}
.fa-github.footer-social-icon {
  color: #333;
  background-color: #33333328;
}
.fa-facebook.footer-social-icon {
  color: #3b5998;
  background-color: #3b589833;
}
.fa-square-x-twitter.footer-social-icon {
  color: #000000;
  background-color: #00000031;
}
.fa-quora.footer-social-icon {
  color: #b92b27;
  background-color: #b92c2734;
}
.fa-globe.footer-social-icon {
  color: #4285f4;
  background-color: #4286f43a;
}

@media screen and (max-width: 425px) {
  .footer-content h1 {
    font-size: 1.1rem;
  }
  .footer-credits p {
    font-size: 0.87rem;
  }
  .footer-social-icons li a {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 381px) {
  .footer-social-icons li a {
    font-size: 1.2rem;
  }
}

/* main projects page */
.main-project-page h1 {
  text-align: center;
}

.filter-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.filter-btn {
  border: 2px solid #ff692833;
  color: var(--secondary);
  background-color: #ff692833;
  padding: 8px;
  border-radius: 8px;
  margin-right: 15px;
  margin-bottom: 15px;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.8px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0.2, 0.4);
}

.filter-btn:active {
  transform: translateY(5px);
  transition: all 0.3s linear;
}
@media screen and (max-width: 768px) {
  .main-project-page h1 {
    margin-top: 30px;
  }
  .filter-btn {
    font-size: 1rem;
    padding: 6px;
  }
}
@media screen and (max-width: 375px) {
  .filter-btn {
    font-size: 0.85rem;
    padding: 5px;
  }
}

/* 404 page */

.error-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.error-content img {
  width: 50%;
}
.back-to-home {
  padding: 15px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  margin-top: 50px;
  border-radius: 8px;
  background-color: var(--primary);
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .back-to-home {
    padding: 10px;
    font-size: 0.85rem;
  }
}
@media screen and (max-width: 375px) {
  .back-to-home {
    padding: 8px;
    font-size: 0.8rem;
  }
  .error-content {
    margin-top: 150px;
    margin-bottom: 150px;
  }
}

/* modal content */

.modal-content {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: 3;
  display: grid;
  place-items: center;
  display: none;
  transition: all 0.4s linear;
}
.modal-container {
  width: 400px;
  background-color: white;
  border-radius: 10px;
}
.modal-container h1 {
  font-size: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
.close-modal {
  font-size: 1rem;
  position: absolute;
  right: 0;
  padding: 10px;
  color: var(--secondary);
  cursor: pointer;
}
.modal-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* modal email contact */
.modal-email-contact a {
  display: flex;
  align-items: center;
}
.alter-method-text {
  font-size: 1.2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.email-icon {
  font-size: 3rem;
  margin-right: 15px;
  color: grey;
}
.email-text {
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 700;
}
/* modal social media contact */
.social-media-contact {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}
.social-media-contact a {
  font-size: 3rem;
}
.fa-linkedin.modal-social-icon {
  margin-right: 20px;
  color: #0976b4;
}
.fa-square-x-twitter.modal-social-icon {
  color: #000000;
}
.modal-email-contact a:hover .email-text {
  color: var(--primary);
}
.modal-email-contact a:hover .email-icon {
  color: var(--primary);
}
.social-media-contact a:hover {
  transform: scale(1.02);
  transition: all 0.3s linear;
}
@media screen and (max-width: 437px) {
  .modal-container {
    width: 90%;
  }
  .modal-container h1 {
    font-size: 1.3rem;
  }
  .email-icon,
  .social-media-contact a {
    font-size: 2.5rem;
  }
  .email-text {
    font-size: 1.2rem;
  }
  .alter-method-text {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 371px) {
  .modal-container h1 {
    font-size: 1.2rem;
  }
  .email-icon,
  .social-media-contact a {
    font-size: 2rem;
  }
  .email-text {
    font-size: 1rem;
  }
  .alter-method-text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 315px) {
  .email-icon,
  .social-media-contact a {
    font-size: 1.5rem;
  }
}
